@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://highlightjs.org/static/demo/styles/ocean.css');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

$primary: #002082;
$secondary: #CED8F7;
$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-weight: 700;

@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

footer{
  width:100%;
  padding-top:2rem;
  padding-bottom:2rem;
  background-color: $secondary;
}

#root{
  min-height: 100vh;
}

main{
  padding-top: 7rem;
  padding-bottom: 4rem;
}

h1{
  padding-bottom: 1rem;
}

h2{
  padding-top: 4rem;
  padding-bottom: 1rem;
}

h3{
  padding-bottom: 0.8rem;
}

.navbar-brand{
  font-family: 'Architects Daughter', cursive;
}